
::selection { color: #fff; background: @brand-primary; }
::-moz-selection { color: #fff; background: @brand-primary; }
@body-padding-top: 50px;
body{
  overflow-y:scroll;
}
.target{
  position:absolute;
  top:-(@body-padding-top);
}

.upper{
  text-transform:uppercase;
}

.center{
  text-align:center;
  margin-left:auto;
  margin-right:auto;
}
.right{
  text-align:right;
}

.as-text{
  font-size:@font-size-base;
}

.italic{
  font-style:italic;
}
.reset-ul{
  &, li{
    list-style:none;
    margin-left:0;
    padding-left:0;
  }
}

@space:20px;
@condensed-gutter-width: 15px;
.reset-spaces{
  font-size:0;
}
.reset-padding{
  padding:0;
}
.reset-all-indents{
  margin:0;
  padding:0;
}
.reset-indent-top{
  margin-top:0 !important;
}
.reset-indent-bottom{
  margin-bottom:0 !important;
}
.indent-top{
  margin-top:@space;
}
.indent-top-extended{
  margin-top: @grid-gutter-width;
}
.indent-top-condensed{
  margin-top:@condensed-gutter-width;
}
.indent-top-double{
  margin-top:@space*2;
}
.indent-top-triple{
  margin-top:@space*3;
}
.indent-top-half{
  margin-top:@space/2;
}
.indent-top-thin{
  margin-top:@space/4;
}
.indent-left{
  margin-left:@space !important;
}
.indent-left-condensed{
  margin-left:@condensed-gutter-width !important;
}
.indent-left-extended{
  margin-left:@space*1.5 !important;
}
.sm-indent-top{
  @media (max-width: @screen-sm-max) {
    margin-top: @condensed-gutter-width / 2;
  }
}
.minus-indent-top{
  margin-top:-@space;
}
.minus-indent-bottom{
  margin-bottom:-@space;
}
.minus-1-px-top{
  margin-top:-1px !important;
}

.indent-bottom{
  margin-bottom:@space;
}

.circle{
  border-radius: 50%;
}
.max-width-100{
  max-width:100%;
  height:auto;
}
.min-width-100{
  min-width:100%;
}
.width-100{
  width:100%;
}
.bordered{
  border: 1px dashed #999;
}
.relative{
  position:relative;
}
.top-left{
  top:0;
  left:0;
  margin:0;
}
.fill{
  width:100%;
  height:100%;
}

.link-wrapper{
  &, *, &:hover{
    text-decoration:none;
  }
}
.base-color{
  color:@text-color;
}
.flex{
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.align-left{
  text-align:left;
}
.align-right{
  text-align:right;
}
.center{
  text-align:center;
  justify-content: center;
}
.middle{
  .flex;
  align-items: center;
}
.center-both{
  .center;
  .middle;
}
.inline-block{
  display:inline-block;
}
.nowrap, .nobreak{
  white-space:nowrap;
}
.sans-serif{
  &, *{
    font-family: @font-family-sans-serif !important;
  }
}

.slash{
  margin:0 20px;
}

hr{
  border-color:@black;
}

.black-text{
  color:@black;
}

.white{
  color:#fff;
}

.blue{
  color: @blue-light;
}
// Custom mixins

.perfectPixels(@perfect:true){
  text-rendering: geometricPrecision;
  -webkit-font-smoothing: antialiased;
}
.perfectPixels(@perfect) when (@perfect = false){
  text-rendering: geometricPrecision;
  -webkit-font-smoothing: subpixel-antialiased;
}


h1, h2, h3, h4, h5, h6{
  .perfectPixels();
  .reset-all-indents;
  &.light{
    font-weight:100;
  }
}


@mw-mobile: @screen-sm-min; // mq-mobile breakpoint
@mobile: ~'screen and (max-width: @{mw-mobile})';
@tablet: ~'(min-width: @{screen-tablet})';
@small-tablet: ~'(min-width: @{screen-sm})';
@small-tablet-only: ~'(min-width: @{screen-sm}) and (max-width: @{screen-md}';
@desktop: ~'(min-width: @{screen-desktop})';




