@font-face {
  font-family: 'Polaris';
  src: url('/fonts/Polaris-Light.eot');
  src: url('/fonts/Polaris-Light.eot?#iefix') format('embedded-opentype'),
       url('/fonts/Polaris-Light.woff') format('woff'),
       url('/fonts/Polaris-Light.svg#glyphicons_halflingsregular') format('svg');
}
@font-face {
  font-family: 'Polaris';
  src: url('/fonts/Polaris-Bold.eot');
  src: url('/fonts/Polaris-Bold.eot?#iefix') format('embedded-opentype'),
       url('/fonts/Polaris-Bold.woff') format('woff'),
       url('/fonts/Polaris-Bold.svg#glyphicons_halflingsregular') format('svg');
  font-weight:bold;
}
