.ico-aircraft, .ico-marketing, .ico-logistics, .ico-legal-service { background: url(../images/sprites/sprite.png); }

.svg .ico-aircraft, .svg .ico-marketing, .svg .ico-logistics, .svg .ico-legal-service { background-image: url(../images/sprites/sprite.svg); }

.ico-marketing, .ico-logistics, .ico-legal-service { width: 295px; height: 295px; }

.ico-aircraft { background-position: -438px -35px; width: 35px; height: 35px; }
.ico-marketing { background-position: -110px -35px; }
.ico-logistics { background-position: -110px -650px; }
.ico-legal-service { background-position: -110px -343px; }