@import "_entypo.less";
@import "_bootstrap.less";
@import "_arrows.less";
@import "_defaults.less";


.dark-wrapper{
  width:100%;
  display:block;
  background:@dark;
  .perfectPixels();
}

.gray-wrapper{
  width:100%;
  display:block;
  background:#F7F7F7;
}

.black-wrapper{
  .dark-wrapper;
  background:darken(@dark, 20%);
  *{
    color: #777;
    
  }
  h4{
    color: lighten(@dark, 40%);
  }
  p, a{
    .perfectPixels(false);
    b, strong{
      .perfectPixels();
      color: lighten(@dark, 40%);
    }
  }
  a{
    &:hover{
      color:lighten(@dark, 40%);
    }
  }
}

a{
  .transition(color .3s linear)
}

section{
  position:relative;
}
header{
  padding: @space*2 0 0 0;
}
#logo{
  img{
    width:100%;
    margin-bottom:@space*2;
  }
}


#nav{
  width:100%;
  top:0;
  background:#fff;
  z-index:@zindex-navbar-fixed;
  &.fixed{
    position:fixed;
  }
  .navbar-left{
    li{
      &:first-child{
        a{
          padding-left:0;
        }
      }
    }
  }
}






.entypo{
  .perfectPixels();
}

.arrow-bottom-white{
  .arrow(30px, #fff, bottom, 50%, 0, #fff);
}
.arrow-bottom-black{
  .arrow(30px, @dark, bottom, 50%, 0, #fff);
}
.arrow-bottom-gray{
  .arrow(30px, #F7F7F7, bottom, 50%, 0, #fff);
}
body{

}




.welcome {
  -webkit-animation-name: welcome;
  -webkit-animation-duration: .9s; 
}
.welcome-second {
  -webkit-animation-name: welcome-second;
  -webkit-animation-duration: 1s; 
}
.welcome-third {
  -webkit-animation-name: welcome;
  -webkit-animation-duration: 1.2s; 
}

@-webkit-keyframes welcome {
  from {
    -webkit-transform: scale(0);
    opacity: 0;
  }
  40% {
   -webkit-transform: scale(0);
   opacity: 0;
  }
  72.5% {
    -webkit-transform: scale(1.5);
    -webkit-animation-timing-function: ease-out;
    opacity: 1;
  }
  to {
    -webkit-transform: scale(1);
  }
}

@-webkit-keyframes welcome-second {
  from {
    -webkit-transform: scale(0);
    opacity: 0;
  }
  50% {
   -webkit-transform: scale(0);
   opacity: 0;
  }
  82.5% {
    -webkit-transform: scale(1.2);
    -webkit-animation-timing-function: ease-out;
    opacity: 1;
  }
  to {
    -webkit-transform: scale(1);
  }
}
@-webkit-keyframes welcome-third {
  from {
    -webkit-transform: scale(0);
    opacity: 0;
  }
  65% {
   -webkit-transform: scale(0);
   opacity: 0;
  }
  88% {
    -webkit-transform: scale(1.2);
    -webkit-animation-timing-function: ease-out;
    opacity: 1;
  }
  to {
    -webkit-transform: scale(1);
  }
}
