doctype html
html
  head
    meta charset="utf-8"

    /! Always force latest IE rendering engine or request Chrome Frame
    meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible"

    /! Use title if it's in the page YAML frontmatter
    title == data.page.title || "Nexus World Business"
    
    link rel="shortcut icon" href=image_path("icon.png") /
    
    == stylesheet_link_tag "normalize", "all"
    link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"
    == javascript_include_tag  "all"
    
    
    script src="//use.typekit.net/ibu4jeh.js" 
    javascript:
      try{Typekit.load();}catch(e){}

  body class="#{page_classes}"
    header
      .container
        #logo.welcome
          a.center.block href=root_path
            img src=image_path("logo.svg")
      nav#nav.navbar.navbar-default.hidden-xs(role='navigation')
        .container
          ul.nav.navbar-nav.navbar-left data-page-links=true
            - I18n.t(:sections).each do |section|
              li= link_to section[:name], "##{section[:url]}"
          ul.nav.navbar-nav.navbar-right
            li style="border-right:1px solid #ededed;border-left:1px solid #ededed;": a href="tel:602616725" 
              i.fa.fa-phone style="font-size:130%;vertical-align:-4px;" 
              strong  602 616 725
            - if I18n.locale.to_s == "cs"
              li: a href="/en" EN
            - else
              li: a href="/" CS
        
        
    == yield
    
    footer.black-wrapper.relative
      .target#contact
      .container
        .center.indent-top-double
          a href="/"
            .center
              img src=image_path("kapka.svg") style="zoom:.5;"
              .indent-top
              img src=image_path("logo.svg") style="max-width:100%;width:200px;"
        .indent-top-double
      
