---
title: Low Budget Production
---

section#claim
  .target#about-us
  .container
    .indent-top
    .row
      .col-sm-7
        .indent-top-double
          h1.light= I18n.t("claim.head")
          h2.h3.light= I18n.t("claim.content")
      .col-sm-5
        .center: img src=image_path("kapka.svg") style="zoom:.7;"
    .clearfix.indent-top-double
      

section
  .target#team
  img.fill-horizontal.max-width-100 src=image_path("team.jpg")

.dark-wrapper.white.relative
  section#section-features.container
    .target#service
    h2.light.center.indent-top-double= I18n.t("features.head")
    .row
      .col-sm-offset-1.col-sm-10
        p.center.indent-top-double= I18n.t("features.content")
        .row.center
         - I18n.t("features.points").each do |point|
           .item.inline-box.indent-top.col-sm-4
             .h2: .entypo class="#{point[:color]} #{point[:icon]}"
             h3.h4.light.indent-top-double.nowrap= point[:name]
    .indent-top-double
  .arrow-bottom-black

.gray-wrapper
  section.container
    .target#contact
    h2.indent-top-triple.light.center = t 'meta.contact_us'
    .row.indent-top-triple
      .col-md-6
        .align-right
          h3 = t "meta.contact_info"
          p.light.indent-top: a href="tel:602616725" 
            / i.fa.fa-phone style="font-size:110%;vertical-align:-3px;color:black;"
            ' +420
            strong  602 616 725
          p: a href="mailto:info@lowbudgetproduction.cz" 
            / i.fa.fa-envelope style="font-size:110%;color:black;"
            strong  info@lowbudgetproduction.cz
          p: a href="https://www.facebook.com/LowBudgetProduction.sro" target="_blank"
            i.fa.fa-facebook-square style="font-size:36px;color:black;"  
            
      .col-md-6
        h3 = t "meta.billing"
        p.indent-top
          | Low Budget Production s.r.o.
          br
          | U Sparty 14/551
          br
          | 170 00 Praha 7
        p
          | IČO: 02 68 39 54

    .indent-top-double


 